<div class="post">
    <div class="post-nav">
        <a href="/post"><button>All</button></a>
        <a href="/post?section=general"><button>General</button></a>
         <a href="/post?section=tech"><button>Tech issue</button></a>
        % if is_admin:
        <a href="/post?section=admin"><button>Admin</button></a>
        % end
    </div>
    <hr>
    % for post in posts:
    <div class="d-flex flex-column post-item">
        <div class="d-flex flex-row align-items-center" style="margin-bottom:5px;">
            <span class="color-user d-flex flex-row align-items-center">
                <img
                        style="height: 30px;width:30px;" src="   {{ post[4][-2] }}"
                        alt="avatar">
                {{ post[4][0] }}</span><span class="text-muted post-time">{{ post[5] }}</span>
            % if post[-2]:
            <a href="/delete_post?post_id={{ post[0] }}" style="margin-left:5px;">Delete</a>
            % end
        </div>
        <div class="d-flex flex-column" style="">
            <div class="d-flex flex-row align-items-center color-title" style="margin-bottom:5px;">
                Q{{ post[0] }}. {{ post[1] }}
            </div>
            <div class="d-flex flex-row  text-muted" style="text-align:left">
                {{ post[2] }}
            </div>
            <div class="d-flex flex-column comment" style="margin-top:10px;width:100%;">
                <form action="/comments" method="post">
                    <input type="hidden" name="post_id" value="{{ post[0] }}">
                    <textarea name="detail" style="width:100%" rows="1"></textarea>
                    <div class="d-flex flex-row align-items-center justify-content-end">
                        % if not block:
                        <button>Comment</button>
                        % else:
                        <button disabled>Comment</button>
                        % end
                    </div>
                </form>
                <h4>Comments</h4>
                % for comment in post[-1]:
                <div class="d-flex flex-column " style="margin:5px 0">
                    <div class="d-flex flex-row align-items-center" style="margin:5px;">
                        <span class="color-title"> {{ comment[3] }}</span>
                        % if post[-2]:
                        <a href="/delete_comment?c_id={{ comment[0] }}" style="margin-left:5px;">Delete</a>
                        % end
                    </div>
                    <div class="d-flex flex-column" style="">
                        <div class="d-flex flex-row  text-muted" style="text-align:left">
                            {{ comment[2] }}
                        </div>
                    </div>
                </div>
                % end
            </div>


        </div>
    </div>
    % end

</div>